<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057224801611-lnleobl47m16q9gc7th0tr6am3o19526.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057224801611-lnleobl47m16q9gc7th0tr6am3o19526</string>
	<key>API_KEY</key>
	<string>AIzaSyAL8u3LKWHHDE3654YV-BHsnrjXmhNhDbc</string>
	<key>GCM_SENDER_ID</key>
	<string>1057224801611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-7a7d3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-7a7d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057224801611:ios:a255535dbede3bb6cfbcce</string>
</dict>
</plist>